@model MvcApplication1.Models.CalendarWeekDate

@{
    ViewBag.Title = "DeptCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
   <script src="@Url.Content("~/Scripts/lhgdialog/lhgdialog.js")" type="text/javascript"></script>
}

<style>
    .titleContent {
        color: blue;
    }

    </style>


<script type="text/javascript">

    $(function() {

        $("#btnNex").click(function() {

            //var url = '@Url.Action("DeptCalendar")';

        });

    });

    function AddCalendar() {

        var url = '@Url.Action("CalendarForm")';

        $.dialog({
            id: "CalendarFormBox",
            width: 478,
            height: 358,
            title: 'Add Calendar',
            content: 'url:' + url,
            lock: true
        });
    }

    function EditCalendar(id) {
        var url = '@Url.Action("CalendarEdit")' +'?calendarId='+id ;

        $.dialog({
            id: "CalendarFormBox",
            width: 478,
            height: 358,
            title: 'Edit Calendar',
            content: 'url:' + url,
            lock: true
        });
       
        //阻止事件冒泡
        event.stopPropagation();

    }

</script>
<h2>DeptCalendar</h2>
<h3>@Model.BeginDate</h3>
<input type="button" value="previous" id="btnPre" />
&nbsp;&nbsp;
<input type="button" value="next" id="btnNex" />

<div id="calendar" >
    <div class="calendarTr"><div class="dayregion dayDiv">date/week</div><div class="dayregion calendarDiv">Morning</div><div class="dayregion calendarDiv">Afternoon</div></div>
    
    @foreach (var dayModel in Model.DateList)
    {
        <div class="calendarTr">
            <div class="canendarregion dayContent">@dayModel.WeekString<br/>@dayModel.DateString</div>
            <!--上午日程-->
            <div class="canendarregion calendarContent" onclick="AddCalendar()">
                
                @if (dayModel.Forenoon!=null)
                {
                    foreach (var forenoonCalendar in dayModel.Forenoon)
                    {
                            
                        <div class="titleContent" onclick="EditCalendar(@forenoonCalendar.ID)">
                            title:@forenoonCalendar.Title location:@forenoonCalendar.Location 
                        </div>
                    }
                }
                
            </div>
            <!--下午日程-->
            <div class="canendarregion calendarContent" onclick="AddCalendar()">
                 @if (dayModel.Afternoon!=null)
                {
                    foreach (var afternoonCalendar in dayModel.Afternoon)
                    {
                            
                        <div class="titleContent" onclick="EditCalendar(@afternoonCalendar.ID)">
                            title:@afternoonCalendar.Title location:@afternoonCalendar.Location
                        </div>
                    }
                }

            </div>
        </div>
        <div style="clear: both"></div>
    }
    
    <input type="button" value="aa" id="btnaa" />

</div>
