@using MvcApplication1
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
</head>

    <body>
        <h3>Header</h3>
        <h4>Welcom to Calendar of Zhao,@{ string CurrentUserName = Session["user"] == null ? "guest" : ((UserInfo)Session["user"]).UserName;}@CurrentUserName</h4>
        @if (Session["user"] == null)
        {
            <div id="header">
            @Html.ActionLink("Login","Login","User")
            &nbsp;&nbsp;
            @Html.ActionLink("Register","Register","User")
        </div>
            
        }
        
        @RenderBody()
    </body>
</html>
